{%extends 'base.html'%}

{%block head%}
<title>home</title>
{%endblock%}



{%block body%}

<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div>
        <div class="bg-light p-5 rounded">
            <h1>BERT Prediction</h1>
            <div class="col-sm-8 mx-auto">
                <h1>Your Ans</h1>
                <p>
                    {{ans}}
                </p>
                <a class="btn btn-primary" href="/" role="button">main paige </a>
                </p>
            </div>
        </div>
    </div>
</div>

{%endblock%}